@import 'variables';

header {
    .hero-top {
        height: 55vh;
        overflow: hidden;

        h1 {
            margin: 55px auto 50px;
        }

        &>img {
            position: absolute;
        }

        .fairy {
            top: 70px;
            right: 0;
            width: 10em;
        }

        .header-star1 {
            width: 1em;
            top: 400px;
            left: 15px;
        }

        .header-star2 {
            width: 0.7em;
            top: 7em;
            left: 4em;
        }

        .header-star3 {
            width: 0.9em;
            bottom: 135px;
            right: 50px;
        }

        .header-star4 {
            width: 0.8em;
            top: 15em;
            left: 9em;
        }
    }
}

main {

    section {
        padding: 60px 20px 0;

        .popUpError {
            display: none;
            padding: 1em;
            margin-bottom: 1em;
            color: crimson;
            background-color: #ffc0cb3b;
            border: solid 0.1em crimson;
            border-radius: 3px;
        }
        .popUpSuccess {
            display: none;
            padding: 1em;
            margin-bottom: 1em;
            color: green;
            background-color: #adffad3b;
            border: solid 1px green;
            border-radius: 3px;
        }

        form {
            .formChamps {
                padding: 0.5em 0em;
                display: flex;
                flex-direction: column;
                text-align: left;
                label {
                    padding-bottom: 0.5em;
                }
                .clientContact {
                    height: 2em;
                    background-color: $LightBlue;
                    border: 1px solid $DkBlue-trsp;
                    padding: 0.3em 0.5em;
                    border-radius: 5px;
                }
                #formMsg {
                    height: 15em;
                    font-family: "roboto";
                }
                input::placeholder, textarea::placeholder {
                    font-family: 'roboto';
                    color: $DkBlue-trsp;
                    font-size: 14px;
                }
            }
            #formErreur {
                color: crimson;
            }
            .submitButton {
                border: 0.01em solid transparent;
                @include blue-btn;
                margin: 30px auto 0;    
            }
            
        }
    } 

    section[id="details"] {
        a {
            text-decoration: none;
            color: $fireOrange;
            font-weight: normal;
            font-size: 16px;
        }
    }
}

@media screen and (min-width:1000px) {

    section[id="details"] {
        .address-bloc {
            display: flex;
            justify-content: space-between;
            div {
                width: 45%;
            }
        }
    }
}
