@import "variables";

header {

    .first-page {
        height: 100vh;
        overflow: hidden;

        .hero-top {
            height: 90vh;

            h1 {
                margin: 50px auto 40px;
            }

            &>img {
                position: absolute;
            }

            .fairy {
                top: 70px;
                right: 0;
                width: 10em;
            }

            .header-star1 {
                width: 1em;
                top: 400px;
                left: 15px;
            }

            .header-star2 {
                width: 0.7em;
                top: 7em;
                left: 4em;
            }

            .header-star3 {
                width: 0.9em;
                bottom: 135px;
                right: 50px;
            }

            .header-star4 {
                width: 0.8em;
                top: 15em;
                left: 9em;
            }
            .header-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                
                a {
                    margin: 5px;
                    padding: 5px;
                    @include header-btn;
                }
                
            }
        }
    }
}

main {
    padding: 0 20px;
    margin-bottom: 130px;

    section {
        padding-top: 60px;
        padding-bottom: 50px;

    }
}

@media screen and (min-width:1000px) {
    header {
        .header-btn {
            margin-top: 50px;
            max-width: 50%;
        }
    }
}