@import "variables";

header {

    .first-page {
        height: 100vh;
        overflow: hidden;

        .hero-top {
            height: 90vh;

            h1 {
                margin: 50px auto 15px;
            }

            &>img {
                position: absolute;
            }

            .fairy {
                top: 70px;
                right: 0;
                width: 6em;
            }

            .header-star1 {
                width: 1em;
                top: 400px;
                left: 15px;
            }

            .header-star2 {
                width: 0.7em;
                top: 7em;
                left: 4em;
            }

            .header-star3 {
                width: 0.9em;
                bottom: 135px;
                right: 50px;
            }

            .header-star4 {
                width: 0.8em;
                top: 15em;
                left: 9em;
            }
            .header-btn {
                padding: 0;
                margin: 0;
                a {
                    margin: 5px 15px;
                    padding: 0px 50px;
                    display: flex;
                    height: 45px;
                    color: #FEFEFE;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    @include link-hover;
                }
                
            }
        }
        .rs-header {
            position: relative;
            top: -2vh;
            left: 15px;
            width: 150px;
            display: flex;
            justify-content: space-between;

            a:hover {
                transform: scale(1.1);
            }
        }
    }
}

main {
    padding: 0 20px;
    margin-bottom: 130px;

    section {
        padding-top: 60px;
    }
}

// Mains de chaque page

#a-propos {

    section {

        article {
            display: flex;
            flex-direction: column-reverse;

            p {
                span {
                    color: $goldYellow;
                    font-weight: 700;
                }
            }

            img {
                width: 100%;
                margin: 15px 0;
            }
        }
    }
}

#solutions {

    section {

        article {
            p {
                span {
                    color: $goldYellow;
                    font-weight: bold;
                }
            }
            button {
                margin-top: 13px;
                a {
                    @include white-btn;
                    text-align: center;

                    img {
                        width: 20px;
                        padding-left: 3px;
                    }
                }
            }
        }

        div {
            display: flex;
            flex-direction: column;
            :nth-child(1) {
                margin: auto;
                max-width: 100%;
                padding-top: 15px;
            
            }
            :nth-child(2) {
                width: 100px;
                margin: auto;
            }
        }
    }

    .final-img {
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            margin-top: 80px;
        }
    }
}

#produits {

    section {
        padding-bottom: 50px;

        .list-ref {
            div {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

            .list {
                ul {
                    padding: 20px;
                    background-color: $LightBlue;
                    width: 100%;
                    h3 { 
                        margin-top: 0;
                    }
                }

            }

            .ref-client {
                flex-direction: column;

                div {
                    align-items: center;

                    img {
                        width: 80px;
                        margin: 10px;
                    }
                }
            }
        }
    }
    .button-bloc {
        margin-top: 50px;
        a:first-of-type {
            @include blue-btn;
            margin: auto;
        }
    }
}

#enjeux {

    section {
        padding-bottom: 50px;

    }
}

#realisations {

    section {
        padding-bottom: 50px;

    }
}

#contact {

    section {
        padding-bottom: 50px;

        .popUpError {
            display: none;
            padding: 1em;
            margin-bottom: 1em;
            color: crimson;
            background-color: #ffc0cb3b;
            border: solid 0.1em crimson;
            border-radius: 3px;
        }
        .popUpSuccess {
            display: none;
            padding: 1em;
            margin-bottom: 1em;
            color: green;
            background-color: #adffad3b;
            border: solid 1px green;
            border-radius: 3px;
        }

        form {
            .formChamps {
                padding: 0.5em 0em;
                display: flex;
                flex-direction: column;
                text-align: left;
                label {
                    padding-bottom: 0.5em;
                }
                .clientContact {
                    height: 2em;
                    background-color: $LightBlue;
                    border: 1px solid $DkBlue-trsp;
                    padding: 0.3em 0.5em;
                    border-radius: 5px;
                }
                #formMsg {
                    height: 200px;
                    font-family: 'Barlow', sans-serif;;
                }
                input::placeholder, textarea::placeholder {
                    font-family: 'Barlow', sans-serif;
                    color: $DkBlue-trsp;
                    font-size: 14px;
                }
            }
            #formErreur {
                color: crimson;
            }
            .submitButton {
                border: 0.01em solid transparent;
                @include blue-btn;
                margin: 30px auto 0;    
                font-family: 'Barlow', sans-serif;
            }
            
        }
    } 

    section[id="details"] {
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media screen and (min-width:500px) {

    header {
        .header-btn {
            max-width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            a {
                min-width: 280px;
            }
        }
        .fairy {
            width: 10em!important;
        }
    }

    #a-propos {
        article {
            display: block !important;

            img {
                width: 40% !important;
                margin: 0 0 0 15px !important;
                float: right;
            }
        }
    }
}
@media screen and (min-width:500px) and (max-width:700px) {

    #solutions {
        section {
            img {
                max-width: 55%!important;
            }
        }
    }
}

@media screen and (min-width:701px) {

    #solutions {
        > :nth-child(odd) {
            flex-direction: row;
            img:first-of-type {
                margin-left: 0px!important;
            }
            
        }
        > :nth-child(even) {
            flex-direction: row-reverse;
            img:first-of-type {
                margin-right: 0px!important;
            }
            
        }
        section {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            padding-right: 30px;
            justify-content: space-between;

            article {
                width: 50%;
            }
            div {
                width: 50%;
                :nth-child(1) {
                    width: 80%!important;
                }
            }
        }
        #top-btn {
            flex-direction: column!important;
        }
    }
}
@media screen and (min-width:1000px) {
    header {
        .header-btn {
            max-width: 55%!important;
        }
        .rs-header {
            top: -7vh!important;
            left: 100px!important;
            :nth-child(2) {
                margin-top: 3%;
            }
    
            :nth-child(3) {
                margin-top: 6%;
            }
        }
    }
    #a-propos {
        section {
            padding: 70px 20px 0 !important;
        }
    }
    #produits {
        section {
            .list-ref {
                .list {
                    justify-content: space-between;
                    align-items: flex-start;
                }
                .list.col2 {
                    div {
                        width: 47%;
                        ul {
                            width: 100%;
                        }
                    }
                }
                .list.col3 {
                    ul {
                        width: 30%;
                    }
                }
            }
        }
    }
    #contact {
        section[id="details"] {
            .address-bloc {
                display: flex;
                justify-content: space-between;
                div {
                    width: 45%;
                }
            }
        }
    }
}
