@import "variables";

header {

    .first-page {
        height: 100vh;
        overflow: hidden;

        .hero-top {
            height: 90vh;

            h1 {
                margin: 55px auto 50px;
            }

            &>img {
                position: absolute;
            }

            .fairy {
                top: 70px;
                right: 0;
                width: 10em;
            }

            .header-star1 {
                width: 1em;
                top: 400px;
                left: 15px;
            }

            .header-star2 {
                width: 0.7em;
                top: 7em;
                left: 4em;
            }

            .header-star3 {
                width: 0.9em;
                bottom: 135px;
                right: 50px;
            }

            .header-star4 {
                width: 0.8em;
                top: 15em;
                left: 9em;
            }
            .header-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                
                a {
                    margin: 5px;
                    @include header-btn;
                }
                
            }
        }
    }
}

main {
    padding: 0 20px;
    margin-bottom: 130px;

    section {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 70px;

        article {
            p {
                span {
                    color: $goldYellow;
                    font-weight: bold;
                }
            }
            button {
                margin-top: 13px;
                a {
                    @include white-btn;
                    text-align: center;

                    img {
                        width: 20px;
                        padding-left: 3px;
                    }
                }
            }
        }

        div {
            display: flex;
            flex-direction: column;
            :nth-child(1) {
                margin: auto;
                max-width: 100%;
            
            }
            :nth-child(2) {
                width: 100px;
                margin: auto;
            }
        }
    }

    .final-img {
        img {
            max-width: 100%;
            margin-top: 80px;
        }
    }
}

@media screen and (min-width:500px) and (max-width:700px) {
    header {
        .header-btn {
            a {
                margin: 15px!important;
            }
        }
    }
    main {
        section {
            img {
                max-width: 55%!important;
            }
        }
    }
}

@media screen and (min-width:701px) {
    header {
        .header-btn {
            a {
                margin: 15px!important;
            }
        }
    }
    main {
        section {
            padding: 50px 30px 0 !important;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            article {
                margin-right: 30px;
                width: 40%;
            }
            div {
                width: 60%;
                :nth-child(1) {
                    width: 80%!important;
                }
            }

        }
    }
}